<a href="https://colab.research.google.com/github/SoparAwayyy/Machine-Learning/blob/main/Week5/5_Dwi_Saputra_Sopar_Siagian_GColab_EDA_IT_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DWI SAPUTRA SOPAR SIAGIAN

1103210220

EDA IT Salary

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
file_path = '/content/drive/MyDrive/ML DataSet/IT Salary Survey EU  2020.csv'
df = pd.read_csv(file_path)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.tail()

In [ ]:
selected_columns = ["Total years of experience",
                    "Years of experience in Germany",
                    "Yearly bonus + stocks in EUR",
                    "Annual bonus+stocks one year ago. Only answer if staying in same country",
                    "Number of vacation days",
                    "Contract duration",
                    "Company size"]
print(df.head())

In [ ]:
numeric_columns = ["Total years of experience",
                     "Years of experience in Germany",
                     "Yearly bonus + stocks in EUR",
                     "Annual bonus+stocks one year ago. Only answer if staying in same country",
                     "Number of vacation days"]

df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

print(df[numeric_columns].head())

In [ ]:
rows_with_null = df[df.isnull().any(axis=1)]
print(rows_with_null)

In [ ]:
sns.boxplot(x=df['Years of experience in Germany'])
plt.xlabel('Years of experience in Germany')
plt.title('Boxplot of Years of experience in Germany')
plt.show()

In [ ]:
plt.scatter(df['Total years of experience'], df['Yearly bonus + stocks in EUR'], color='green', alpha=0.5)
plt.xlabel('Total years of experience')
plt.ylabel('Yearly bonus + stocks in EUR')
plt.title('Scatter plot of Total years of experience vs Yearly bonus + stocks in EUR')
plt.show()

In [ ]:
numeric_df = df.select_dtypes(include='number')

correlation_matrix = numeric_df.corr()

plt.figure(figsize=(15, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='magma', fmt=".2f")
plt.title('Heatmap Korelasi Antar Kolom Numerik')
plt.show()